.main{
    background-color: black;
    height: 100vh;
    width: 100vw;
}
.login_form{
    background-color: black;
    height: 50vh;
    width: 50vw;
    
}
.login_button{
    background-color: peru;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.login_button:hover{
    background-color: black;
    color: peru;
    border-color: peru;
}
@media (max-width: 600px) {
    .main {
        background-color: black;
        height: 100vh;
        width: 100vw;
    }
    .login_form {
        background-color: black;
        height: 50vh;
        width: 90vw;
    }
}